<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eatwell.yael.geofances">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="rs.fon.mapapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyARe1kSXk4t50l5OQHHOUcRf1RyZsc0Elg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".Firebase_Utils.GeofenceTrasitionService" />
        <service android:name=".Notification.NotificationSender" />

        <activity android:name=".UI.Goal_Setting" />

        <service
            android:name=".Firebase_Utils.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <uses-library android:name="com.google.android.maps" />

        <service
            android:name=".Firebase_Utils.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Firebase_Utils.GeofenceManager" />
        <activity android:name=".Utils.Permission_Checker" />
        <activity android:name=".Utils.LocationSelector" />
        <activity android:name=".UI.StartActivity"/>

        <activity
            android:name=".UI.LoginActivity"
            android:label="title_activity_login">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity android:name=".UI.SignUp" />
        <activity android:name=".UI.ResetPassword" />
        <activity android:name=".UI.Notification"></activity>
    </application>

</manifest>